[submodule "Packages/Roact"]
	path = Packages/Roact
	url = https://github.com/roblox/roact
[submodule "Packages/Promise"]
	path = Packages/Promise
	url = https://github.com/evaera/roblox-lua-promise
[submodule "Packages/Cmdr"]
	path = Packages/Cmdr
	url = https://github.com/evaera/Cmdr
[submodule "Packages/Flipper"]
	path = Packages/Flipper
	url = https://github.com/Reselim/Flipper
[submodule "Packages/RoactFlipper"]
	path = Packages/RoactFlipper
	url = https://github.com/Reselim/roact-flipper
